// bulma/buefy overrides
// $family-sans-serif: "Open Sans",
// "Arial",
// sans-serif !important;

// $input-border-color: white;
$input-shadow: none;
$input-radius: 0px;

$variable-columns: false;

// Import bulma styles
@import "~bulma";

// Import buefy styles
@import "~buefy/src/scss/buefy";
// @import "~buefy/dist/buefy.css";


html,
body {
  background: #eeeeee;
  background: -webkit-linear-gradient(124deg, #eeeeee 0%, #d7d7d7 100%);
  background: linear-gradient(124deg, #eeeeee 0%, #d7d7d7 100%);

  color: theme("colors.text");


  pre {
    background-color: unset;
    color: unset;
    font-size: unset;
    overflow: unset;
    padding: unset;
    white-space: unset;
    word-wrap: unset;
    font-family: unset;
  }

  body,
  button,
  input,
  optgroup,
  select,
  textarea,
  pre,
  code {
    font-family: unset !important;
  }

  .s-grid {
    @apply grid grid-cols-12 gap-x-4;
  }

  .s-row {
    @apply grid grid-cols-12 col-span-12;

    @screen md {
      border-bottom: 1px solid #e1e1e1;
    }
  }

  .s-grid-item {
    @apply col-span-12 px-2 py-4;

    @screen md {
      @apply col-span-4;

      border-right: 1px solid #e1e1e1;

      &:last-child {
        border-right: none;
      }
    }
  }
}
